.git
.svn
.hg
.zip
.gz
.DS_Store
.idea
.idea/
.idea/*
.settings
.nbproject
.classpath
.eslintcache
.project
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
.env
node_modules
npm-debug.log
.vscode
logs/*
.www
t.*
css
.happypack
yarn.lock
yarn-error.log
yarn-debug.log
package-lock.json
config.gypi
deploy.sh
.log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules
debug.log
